body {
    /*background: url(seacoastsample.png) no-repeat;*/
    background-size: cover;
    background-position-y: 35px;

    padding-top: 90px;
    font-family: 'Roboto Condensed', sans-serif;
}

.audio-button {
    padding: 10px;
    text-align: center;
    border-radius: 3px;

    background: #ea8821;
    color: #fff;
    text-transform: uppercase;
    cursor: pointer;
}

.edge-radio-player-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    height: 35px;
    background: #344557;

    font-family: 'Roboto Condensed', sans-serif;
    border-bottom: 1px solid #435567;
}

#edge-radio-player-display {
    position: absolute;
    left: 100px;

    font-size: 20px;
    color: #fff;
    text-transform: uppercase;
    padding: 4px;
}

#edge-radio-player-display-label {
    color: #ea8821;
}

#edge-radio-player-logo-image-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100px;
    text-align: center;
}

#edge-radio-player-logo-image {
    padding: 2px;
    height: 32px;
}

#edge-radio-player-play-pause {
    position: absolute;
    top: 6px;
    right: 90px;

    height: 23px;
    width: 23px;

    cursor: pointer;

    background: url(icons.png);
    background-position: -51px 0;
    background-size: 99px 49px;
}

#edge-radio-player-play-pause.paused {
    background-position: -76px 0;
}

#edge-radio-player-volume {
    position: absolute;
    top: 6px;
    right: 60px;

    height: 23px;
    width: 23px;

    cursor: pointer;

    background: url(icons.png);
    background-size: 99px 49px;
}
#edge-radio-player-volume.muted {
    background-position: -25px 0;
}

#edge-radio-player-volume-slider-container {
    position: absolute;
    top: 15px;
    right: 60px;

    width: 30px;
    height: 200px;

    background: #344557;
}