body {
    /*background: url(seacoastsample.png) no-repeat;*/
    background-size: cover;
    background-position-y: 35px;

    padding-top: 90px;
    font-family: 'Roboto Condensed', sans-serif;
}

.audio-button {
    padding: 10px;
    text-align: center;
    border-radius: 3px;

    background: #ea8821;
    color: #fff;
    text-transform: uppercase;
    cursor: pointer;
}

.edge-radio-player-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    height: 35px;
    background: #344557;

    font-family: 'Roboto Condensed', sans-serif;
    border-bottom: 1px solid #435567;
}

#edge-radio-player-display {
    position: absolute;
    left: 100px;
    right: 100px;
    font-size: 20px;
    color: #fff;
    text-transform: uppercase;
    padding: 4px;
    white-space: nowrap;
}

@media only screen
and (min-device-width : 375px)
and (max-device-width : 667px)
and (orientation : portrait) {
    #edge-radio-player-logo-image {
        padding: 5px;
    }
    #edge-radio-player-display {
        height: 35px;
        overflow: hidden;
    }
    #edge-radio-player-display-label {
        display: none;
    }
    #edge-radio-player-display-song {
        display: block;
        position: absolute;
        top: 6px;
        left: 0;
        transition: 4500ms linear all;
    }
}

#edge-radio-player-display-label {
    color: #ea8821;
}

#edge-radio-player-logo-image-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100px;
    text-align: center;
}

#edge-radio-player-logo-image {
    padding: 4px;
    height: 28px;
}

#edge-radio-player-control-container {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100px;

    background: #344557;
}

#edge-radio-player-play-pause {
    position: absolute;
    top: 6px;
    left: 10px;

    height: 23px;
    width: 23px;

    cursor: pointer;

    background: url(icons.png);
    background-position: -51px 0;
    background-size: 99px 49px;
}

#edge-radio-player-play-pause.paused {
    background-position: -76px 0;
}

#edge-radio-player-volume {
    position: absolute;
    top: 6px;
    left: 40px;

    height: 23px;
    width: 23px;

    cursor: pointer;

    background: url(icons.png);
    background-size: 99px 49px;
}

#edge-radio-player-volume.muted {
    background-position: -25px 0;
}

#edge-radio-player-volume-slider-container {
    display: none;
    position: absolute;
    top: 35px;
    left: 37px;

    width: 30px;
    height: 100px;

    background: #344557;

    cursor: pointer;
}


#edge-radio-player-volume-slider-container.active {
    display: block;
}


#edge-radio-player-volume-slider-container::before {
    position: absolute;
    top: 5px;
    bottom: 5px;
    right: 13px;
    left: 13px;
    content: '';
    background: #9d9fa2;
}

#edge-radio-player-volume-slider {
    position: absolute;
    top: 4px;
    right: 4px;
    left: 4px;
    height: 4px;

    background: #fff;

    /*cursor: pointer;*/
    -webkit-transition: 150ms ease all;
}

/*#edge-radio-player-volume-slider:hover {*/
    /*background: #ea8821;*/
/*}*/